<ion-header>
  <ion-navbar>
    <ion-title>
      Auth App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-buttons>
    <button round outline ion-button color="primary" (click)="logoutUser();user={username:'admin', password:'admin'}">Admin</button>
    <button round outline ion-button color="primary" (click)="logoutUser();user={username:'user1', password:'user1'}">User 1</button>
    <button round outline ion-button color="primary" (click)="logoutUser();user={username:'user2', password:'user2'}">User 2</button>
    <button round outline ion-button color="primary" (click)="logoutUser();user={username:'user3', password:'user3'}">User 3</button>    
  </ion-buttons>
  <ion-list>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="user.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ion-list>

  <h2 *ngIf="isAuthenticated()" text-center>User is logged in!</h2>
  <h2 *ngIf="!isAuthenticated()" text-center>User is not logged in!</h2>

  <ion-buttons>
    <button full ion-button color="primary" *ngIf="user.username && user.password && !isAuthenticated()" (click)="loginUser(user)">Login</button>
    <button full ion-button color="danger" *ngIf="isAuthenticated()" (click)="logoutUser()">Logout</button>
    <button full ion-button color="secondary" (click)="nextPage('SecondPage')">Second Page</button>
    <button full ion-button color="secondary" (click)="nextPage('ThirdPage')">Third Page</button>
    <button full ion-button color="secondary" (click)="nextPage('FourthPage')">Fourth Page</button>
  </ion-buttons>

</ion-content>